/* main body */
body {
    height: 100vh;
    background: url('images/main.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: white;
}


/* Adds small space between buttons */
.btn-dark {
    margin: 0px 5px;
}


/* Background image for homepage */
.bgimage {
    height: 100vh;
    background: url('images/lincolnCity.jpg');
    background-size: cover;
    position: relative;
}

#home .main_title, #home .main_desc {
    color: white;
}


/* Text css over main image */
.main_title {
    font-size: 4.5rem;
    color: black;
}

.main_desc {
    font-size: 2rem;
    color: black;
}

.main-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


/* about section */
.imageAboutPage {
    width: 100%;
}


/* Card formatting */
#about .card {
    height: auto;
}

#experience .card, #education .card {
    height: 325px;
}

#community .card {
    height: 100%;
    width: 100%;
}

#EMKR {
    overflow: scroll;
}

.card-body {
    background-color: #eeeeee;
}

.card-title {
    text-align: center;
}


/* Card icon coloring */
#EMKR:hover .backgroundIcon {
    color: blue;
}
#EMKR:hover {
    border: 2px solid blue;
}

#AddEd:hover .backgroundIcon {
    color: #7E4001;
}
#AddEd:hover {
    border: 2px solid #7E4001;
}

#EECE:hover .backgroundIcon, #CSCap:hover .backgroundIcon {
    color: #990000;
}
#EECE:hover, #CSCap:hover {
    border: 2px solid #990000;
}

#SPI:hover .backgroundIcon {
    color: yellow;
}
#SPI:hover {
    border: 2px solid yellow;
}

#SCCap:hover .backgroundIcon {
    color: green;
}
#SCCap:hover {
    border: 2px solid green;
}

#community:hover .backgroundIcon {
    color: orange;
}
#community:hover {
    border: 2px solid orange;
}

/* Background formatting */
.backgroundText.card {
    cursor: pointer;
}

.backgroundIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}


/* Navbar formatting */
.navbar {
    display: flex;
}

.navbarScroll {
    background-color: transparent;
    transition: background-color 0.8s ease;
}

.navbarDark {
    background-color: black;
}


/* Ensures dropdown always expands in the right position */
.dropdown-menu {
    position: absolute;
    left: -50%;
    transform: translateX(-40%);
    min-width: 100%;
}

.dropdown-item {
    text-align: right;
}


/* Center the buttons on the navbar */
.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}


/* Icon styling */
.social-icons {
    font-size: 24px;
    cursor: pointer;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-linkedin:hover, .fa-github:hover,
.footerBlack .fa-facebook:hover, .footerBlack .fa-instagram:hover,
.footerBlack .fa-linkedin:hover, .footerBlack .fa-github:hover {
    color: #990000;
}

.fab {
    color: black;
}


/* Footer styling */
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerScroll {
    background-color: transparent;
    transition: background-color 0.8s ease;
}

.footerBlack, .footerBlack .fab {
    background-color: black;
    color: white;
}


/* Spacing on sections */
#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}

#contact {
    padding-bottom: 4rem;
}


/* Error message formatting */
.error {
    font-weight: bold;
    margin: 10px 0;
    color: #D8000C;
    background-color: #FFBABA;
    font-style: italic;
}


/* Contact form map formatting */
.map-wrapper {
    max-width: 100%;
    overflow: hidden;
    color: red;
    width: 500px;
    height: 500px;
}

#embedmap-canvas {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

#embedmap-canvas iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

#embedmap-canvas img {
    max-width: none!important;
    background: none!important;
    font-size: inherit;
    font-weight: inherit;
}


/* Optimization for alternative resolutions */
@media (max-width: 1400px) {

    #projects .card {
        height: 400px;
    }
}


/* Optimization for alternative resolutions */
@media (max-width: 1200px) {

    #experience .card, #education .card {
        height: 400px;
    }

    #projects .card {
        height: 425px;
    }
}


/* Optimization for medium devices */
@media (max-width: 991px) {

    /* Changes main backgroud to black*/
    body {
        background: black;
    }

    /* Shrinks the navbar buttons */
    .navbar .btn , .dropdown-item {
        font-size: 14px;
        padding: 0.4rem 0.6rem;
    }

    #education .card, #experience .card {
        height: 250px;
    }

    #projects .card {
        height: 550px;
    }
}


/* Optimization for small devices */
@media (max-width: 767px) {

    /* Changes main backgroud to black*/
    body {
        background: black;
    }

    /* Shrinks the navbar buttons */
    .navbar .btn, .dropdown-item{
        font-size: 10px;
        padding: 0.2rem 0.4rem;
    }

    #education .card {
        height: 300px;
    }
}


/* Optimization for very small devices and phones */
@media (max-width: 524px) {

    /* Changes main backgroud to black*/
    body {
        background: black;
    }

    /* Shrinks the navbar buttons */
    .navbar .btn, .dropdown-item {
        font-size: 6.5px;
        padding: 0.1rem 0.2rem;
    }

    #education .card, #experience .card {
        height: 350px;
    }

    #projects .card {
        height: 420px;
    }
}
